<div id="admin_login_form_section">
<form id="admin_login_form" action="/adminpanel/login" method="POST">
  <div class="admin_container">
    <label for="uname"><b>Username</b></label>
    <input type="text" id="uname" placeholder="Enter Username" name="username" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="password" required>
    <button id="login_to_admin_btn" type="submit">Login</button>
  </div>
</form>
</div>
