body {font-family: Arial, Helvetica, sans-serif;}
#admin_login_form {border: 3px solid #f1f1f1;}
#admin_login_form_section{
    margin: 0 auto;
    width: 70%;
    margin-top: 70px;
}
#uname, #psw {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login_to_admin_btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login_to_admin_btn:hover {
    opacity: 0.8;
}

.admin_container {
    padding: 16px;
}
